.customBtn-btn {
    position: relative;
    padding-right: 0;
    border-radius: 25px;
    width: 100%;
    height: 4rem;
    --border-color: var(--ion-color-light);
    --background-hover: none;
    --background-activated: var(--ion-color-light);
}

.customBtn-title {
    color: var(--ion-color-primary-contrast);
    font-weight: bold;
    font-size: 1.5rem;
    z-index: 1;
}

.customBtn-progressBar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #48EB08CC;
    z-index: 1;
}

.customBtn-icon {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 2.5rem;
    z-index: 1;
    color: var(--ion-color-primary-contrast);
}