ion-card-title {
  font-size: 1.5rem;
}

ion-card-subtitle {
  font-size: 1.3rem;
}

.panel {
  flex: 1;
  overflow: auto;
}

.details ion-row {
  padding: 0.5rem 0;
}

.details ion-col {
  text-align: left;
}

.details .label {
  font-size: 1.2rem;
  font-weight: bold;
}

.details .value {
  font-size: 1.4rem;
}

.details ion-list-header ion-label {
  font-size: 1.6rem;
}

.card-margin-top {
  margin-top: 2rem;
}

.projectOverview ion-button {
  margin: 1.5rem 0;
}
