ion-card-title {
  font-size: 2rem;
}

ion-card-subtitle {
  font-size: 1.8rem;
}

.panel {
  flex: 1;
  overflow: auto;
}

.details ion-row {
  padding: 0.5rem 0;
}

.details ion-col {
  text-align: left;
}

.details .label {
  font-size: 1.3rem;
  font-weight: bold;
}

.details .value {
  font-size: 1.5rem;
}

.details ion-list-header ion-label {
  font-size: 1.6rem;
}

.edit ion-row.border {
  padding: 1rem 0;
  border-bottom: 1px solid var(--ion-color-primary-contrast);
}
