.custom-border {
    padding: 30px;
    border: 1px solid gray;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.8);
    border-radius: 8px 8px 8px 8px;
}

.custom-item {
    max-width: 200px;
}

.file-input {
    display: block;
    border: 1px solid #ccc;
    padding: 17px;
    cursor: pointer;
    border-radius: 28px;
    text-align: center;
    margin-top: 20px;
}

.file-input p {
    margin: 0;
}

.file-input:hover {
    background-color: #f2f2f2;
    border: 1px solid black;

}