.split-view {
    display: flex;
    width: 90%;
    height: 90%;
    margin: auto;
}

.box {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.header {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    padding: 20px;
    border-bottom: 1px solid #000;
}

.horizontal-flex-container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.panel {
    flex: 1;
    overflow: auto;
}

.left {

}

.right {
}