.header-title-desktop {
  font-size: 4rem;
  font-weight: bold;
  margin: 0.25rem 0;
}

.header-title-mobile {
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 0.25rem;
}

ion-header {
  border-bottom: 1px solid var(--ion-color-secondary);
}

ion-toolbar {
  padding: 1rem !important;
}

.header-icon {
  font-size: 1.5rem;
}

ion-menu::part(backdrop) {
  background-color: rgba(238, 0, 255, 0.599);
}

ion-menu::part(container) {
  border-radius: 0 20px 20px 0;
  box-shadow: 4px 0px 16px rgba(255, 0, 255, 0.18);
}

.item-avatar-header {
  width: 100%;
  height: auto;
  max-width: 50px;
  display: inline-flex;
  margin: 0 1rem;
}
